@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

$black: #333333;
$black-2: #4b4b46;

// $black-3: #08030D;
// $black-4: #656565;

$white: #fff;
$white-2: #F6F6F6;
$white-3: #E2E2E2;
$white-4: #F8F8F8;
$white-5: #f3f3f9;
$white-6: #EDEDEC;

$color-1: #0D0925;
$color-2: #E7B03C;
$color-3: #7269a8;
$color-4: #F3D79C;
$color-5: #362E65;
$color-7: #EDB744;
$color-8: #201947;
$color-9: #3E3768;
$color-10: #120D2E;

// $color-11: #FFADA7;
// $color-12: #211664;
// $color-13: #4434BF;
// $color-14: #ff368b;
// $color-15: #0B193B;

// gradient
// $gradient-1: linear-gradient(-90deg, $color-4 50%, $color-3);
// $gradient-2: linear-gradient(90deg, $color-4, $color-3);
// $gradient-3: linear-gradient(90deg, $color-7, $color-8);
// $gradient-4: linear-gradient(-90deg, $color-7, $color-8);
// $gradient-5: linear-gradient(90deg, $color-10, $color-11);
// $gradient-6: linear-gradient(-90deg, $color-10, $color-11);
// $gradient-7: linear-gradient(135deg, $color-13, $color-12);
// $gradient-8: linear-gradient(-135deg, $color-13, $color-12);

// social
$fb: #1976D2;
$tw: #03A9F4;
$ggl: #DD4B39;
$ld: #007AB9;
$yt: #F44336;
$pin: #D01D1D;