.profit {
    padding: 120px 0;
    .profit-chart {
        position: relative;
        z-index: 2;
        &:after {
            content: "";
            position: absolute;
            top: 0;
            left: 40px;
            right: 0;
            bottom: 64px;
            background: #FFE3DC;
            z-index: -1;
        }
    }
    .part-txt {
        .title {
            h4 {
                font-size: 25px;
                line-height: 100%;
                font-weight: 700;
                text-transform: capitalize;
                color: $color-7;
                margin-top: -2px;
                margin-bottom: 22px;
            }
            h2 {
                font-size: 45px;
                line-height: 55px;
                font-weight: 700;
                color: $black-2;
                margin-bottom: 33px;
            }
        }
        p {
            font-size: 18px;
            line-height: 26px;
            color: $black-2;
            margin-bottom: 10px;
        }
        ul {
            padding-left: 0;
            padding-top: 22px;
            margin-bottom: 31px;
            display: flex;
            flex-wrap: wrap;
            li {
                list-style: none;
                font-size: 16px;
                font-style: italic;
                line-height: 100%;
                color: $black-2;
                width: 50%;
                padding-left: 17px;
                margin-bottom: 16px;
                position: relative;
                &:after {
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: 0;
                    transform: translateY(-50%);
                    width: 7px;
                    height: 7px;
                    background: $color-7;
                    border-radius: 50%;
                }
            }
        }
    }
}